.flex {
    display: flex;
}

.animation-area {
    position: relative;
    height: 100%;
}

.road {
    top: 0px;
    right: 0;
}

.white-car {
    top: 275px;
    left: 346px;
}

.red-car {
    left: 145px;
    top: 421px;
}

img {
    position: absolute;
}

.content {
    width: 100%;
}

.text-area {
    width: 50%;
    display: inline-block;
}

.animation-area {
    width: 50%;
    display: inline-block;
}