@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1,
p {
    color: #263238;
    text-align: justify;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1024px;
}


}
.container {
    max-width: 1024px;
}
.container-extra {}

/*************************** 
    header section start 
****************************/
header {
    max-height: 66px;
    background: #1964aa;
    display: flex;
    position: relative;
}
.flex-container {
    display: flex;
    position: relative;
}
.logo img {
    height: 46px;
    width: 138px;
    padding: 10px;
    box-sizing: content-box;
}
.footer-logo .logo {
    display: flex;
    flex: 2;
    padding-top: 55px;
}
.contact-menu {
    display: flex;
    flex: 10;
    justify-content: flex-end;
    align-items: center;
}
.contact-menu img {
    padding: 18px 16.5px;
}

/*************************** 
    /header section end 
****************************/
.mobile-video {
    /* max-height: 867px; */
    
    background: #fff;
    /* display: flex; */
    
    position: relative;
    /* justify-content: center;
    padding: 30px 0px; */
}
.blue-logo img {
    height: 231px;
    width: 697px;
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
}
.video img {
    height: 100%;
    width: 448px;
}
.video iframe {
    position: absolute;
    z-index: -1;
    top: 75px;
    left: 103px;
    height: 339px;
    width: 264px;
}
.video iframe:hover {
    /* z-index: 100 !important; */
}
.blue {
    color: #1964aa;
    font-size: 30.7px;
    line-height: 40px;
    padding-right: 15px;
    letter-spacing: 0px;
}
.yellow {
    color: #e85933;
    font-size: 30.7px;
    line-height: 40px;
    padding: 47px 0px;
}
.width {
    max-width: 1024px;
}

/* start .on-street-parking */
section.on-street-parking {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #ebf6ff;
}
section.on-street-parking p {
    max-width: 50%;
    padding: 12px 0;
    line-height: 24px;
    font-size: 18px;
    position: relative;
    /*! margin-left: 120px; */
    
    z-index: 1;
}
.on-street-parking h1 {
    padding: 50px 0px;
}
section.on-street-parking img {
    height: auto;
    position: absolute;
}
section.on-street-parking h1 {
    font-size: 70px;
    font-weight: bold;
    /*! margin-left: 120px; */
}
section.on-street-parking .content {
    width: 100%;
}
section.on-street-parking .animation-wrapper {
    position: absolute;
    width: 50%;
    right: -5%;
    bottom: 0%;
}
section.on-street-parking img.road {
    position: static;
    width: 100%;
    bottom: 0;
    right: 0;
    display: block;
}
section.on-street-parking .white-car {
    position: absolute;
    width: 34.5%;
    bottom: -44%;
    left: -48%;
    z-index: 1;
}
.white-car-animation {
    animation: whiteCarOnStreet 4s ease-in-out forwards;
}
section.on-street-parking .red-car {
    position: absolute;
    width: 30%;
    bottom: -52%;
    left: -56%;
    z-index: 1;
}
.red-car-animation {
    animation: redCarOnStreet 3s 1.5s ease-in-out forwards;
}

/* end .on-street-parking */

/* start .off-street-parking */
section.off-parking {
    position: relative;
    width: 100%;
    background: url(images/off-bg.png);
}
section.off-parking h1 {
    font-size: 70px;
    font-weight: bold;
    padding-top: 50px;
}
.animation-and-text {
    position: relative;
    width: 100%;
    /*! display: flex; */
    
    height: 460px;
}
.animation-and-text .animation-wrapper {
    position: absolute;
    /* flex-basis: 50%; */
    
    width: 75%;
    top: 0%;
    left: -15%;
}
.animation-and-text .off-text {
    position: absolute;
    /* flex-basis: 50%; */
    
    width: 38%;
    top: 0%;
    right: 0%;
    /*! background: #feebdd; */
    
    padding: 50px 0px;
}
.animation-wrapper img {
    position: absolute;
}
.animation-wrapper img.light {
    left: 65%;
    top: 46%;
}
.light-animation {
    animation: light 2s ease-out forwards;
}
.animation-wrapper img.bar {
    top: 52%;
    left: 62%;
    width: 13.6698%;
}
.bar-animation {
    transform-origin: 0% 0%;
    animation: crossBar 5s 1s ease forwards;
}
.animation-wrapper img.full-parking {
    position: static;
    width: 100%;
    height: auto;
}
.animation-wrapper img.off-park-car {
    left: 78%;
    bottom: 44%;
    width: 24%;
}
.off-park-car-animation {
    animation: offParkCar 5s 2.5s ease-in-out forwards;
}
.animation-wrapper img.red-pink {
    width: 22%;
    left: -2%;
    top: 59%;
}
.red-pink-animation {
    animation: redPink 4s 1s ease-out forwards;
}
.animation-wrapper img.orange {
    width: 22%;
    left: 26%;
    top: 32%;
}
.orange-animation {
    animation: orangeOffStreet 4s ease-in-out forwards;
}

/* end off street parking */

/* start parking locator */
.parking-locator {
    background: #ebf6ff;
    padding-top: 50px;
    position: relative;
    z-index: 0;
}
.parking-locator .map img {
    height: 470px;
    display: block;
}
.locator-text {}
.locator-text h1 {
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 50px;
}
.locator-text p {
    font-size: 18px;
    font-weight: 400;
    padding-right: 70px;
}
.about-contact {
    background: linear-gradient(to bottom, #0e3961, #1964aa 13%);
    position: relative;
    color: white;
    /* box-shadow: inset 0px 10px 30px black; */
}
.about-contact h6 {
    font-size: 20px;
    padding: 23px 0px 45px;
}
.about-contact a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 400;
}
.know-us {
    flex: 1;
}
.know-us p {
    /* padding-right: 10px; */
    
    padding-right: 110px;
    font-size: 14px;
    color: white;
    text-align: left;
}
.know-us .read-more {
    color: #ec9331;
}
.categories {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.categories a:first-of-type {
    padding-top: 0px;
}
.contact-us {
    flex: 1;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    height: 33px;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    margin-bottom: 23px;
    padding: 10px;
    box-sizing: border-box;
    color: #a0a0a0;
}
button.submit {
    width: 74px;
    height: 32px;
    background: #ededed;
    color: #ec993d;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    align-self: flex-end;
}
.footer {
    /* height: 41px; */
    
    background: #1964aa;
    position: relative;
}
.footer-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    border-top: 1px solid #4783bb;
}
.light-text {
    font-weight: 300;
    color: #fff;
    padding: 10px
}

/* animation area */

/* White Car On street keyframes start */
@keyframes whiteCarOnStreet {
    0% {
        /* position: absolute; */
        bottom: -47%;
        left: -50%;
    }
    
    100% {
        /* position: absolute; */
        bottom: 46%;
        left: 31%;
    }
}

/* White Car On street keyframes END */

/* red-car keyframes START */
@keyframes redCarOnStreet {
    0% {
        bottom: -52%;
        left: -56%;
    }
    
    100% {
        bottom: 15%;
        left: 5%;
    }
}

/* red-car keyframes END */

/* red pink keyframes START */
@keyframes redPink {
    0% {
        left: 15%;
        top: 104%;
    }
    
    100% {
        left: -2%;
        top: 59%;
    }
}
.mobile-menu {
    width: 30%;
    bottom: -464px;
    z-index: 9998;
    background: grey;
    margin: 0;
    position: absolute;
    right: 15px;
    border: 0;
    /* display: flex; */
    
    flex-direction: column;
    display: none;
}
.open {
    display: block;
}
ul.main-menu {
    display: flex;
    flex-direction: column;
}
ul.main-menu a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background: #1964aa;
}
@keyframes orangeOffStreet {
    0% {
        left: 48%;
        top: 91%;
    }
    
    100% {
        left: 26%;
        top: 32%;
    }
}
img.play-btn {
    position: absolute;
    left: 99px;
    bottom: 2px;
    z-index: 1;
    width: 274px;
    height: 334px;
    display: block;
    opacity: 0;
}
img.play-btn:hover {
    opacity: 1;
}
.video {
    position: relative;
}

/* .video img:hover {
    background: url(images/play-btn.png);
} */
@keyframes crossBar {
    0% {
        top: 52%;
        left: 62%;
        width: 13.6698%;
    }
    
    50% {
        /* transform: scale(.8) rotate(-95deg); */
    }
    
    60% {
        transform: scale(.65) rotate(-95deg);
    }
    
    100% {
        /* transform: rotate(-) translateX(40%) translateY(-10%); */
    }
}
@keyframes light {
    0% {
        opacity: 0
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}
@keyframes offParkCar {
    0% {
        left: 78%;
        bottom: 44%;
    }
    
    40% {
        left: 26%;
        bottom: -20%;
    }
    
    70% {
        /* transform: rotate(78deg) translate(155px, 630px); */
    }
    
    100% {
        transform: rotate(92deg);
        left: 10%;
        bottom: 16%;
    }
}

/* responsive  */

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .blue-logo img {
        height: 130px;
        width: 350px;
    }
    
    .container.flex {
        flex-direction: column;
        width: 90%;
    }
    
    .video img {
        height: 100%;
        width: 100%;
    }
    
    .on-street-heading h1,
    .locator-text h1,
    .off-street-heading h1 {
        font-size: 33px;
        text-align: center;
    }
    
    .on-street-heading h1,
    .off-street-heading {
        margin-left: 0;
    }
    
    .locator-text p {
        padding: 15px 0px 30px;
    }
    
    .about-contact h6 {
        padding: 23px 0px 30px;
    }
    
    .know-us p {
        padding-right: 0;
        text-align: justify;
    }
    
    .footer {
        padding: 20px;
    }
    
    .blue,
    .yellow {
        font-size: 20px;
    }
    
    .on-street-animation {
        display: block;
    }
    
    .on-street-text p {
        margin-left: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .on-street-image {
        margin-top: 325px;
    }
    
    .road {
        width: 80%;
        height: auto;
        left: 0;
    }
    
    .full-parking {}
    
    .animation-flex-container {
        flex-direction: column;
    }
    
    .animation {
        order: 2;
    }
    
    .off-street-text {
        order: 1;
        margin-right: 0px;
    }
    
    .off-street-text p {
        padding: 15px;
    }
    
    .off-street-parking {
        height: auto;
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    //CSS
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
    .video img,
    .parking-locator .map img {
        width: 100%;
        height: auto;
    }
    
    .container.flex {
        display: block;
    }
    
    .about-contact {
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .on-street-heading h1,
    .locator-text h1 {
        text-align: left;
        margin: auto;
    }
    
    .on-street-text p {
        margin-left: 10px;
    }
    
    .off-street-heading {
        margin-left: 0px;
    }
    
    .video,
    .video img,
    .map img {
        padding-top: 20px;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
    .parking-locator .map img {
        margin: 0 auto;
    }
    
    .flex {
        flex-direction: column;
    }
    
    .blue,
    .yellow {
        font-size: 20.7px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .blue-logo img,
    .video img,
    .parking-locator .map img {
        width: 100%;
        height: auto;
    }
    
    .on-street-heading h1,
    .locator-text h1 {
        font-size: 40px;
        text-align: center;
        margin: auto;
    }
    
    .on-street-animation {
        display: block;
    }
    
    .on-street-text p {
        margin-left: 0px;
    }
    
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .on-street-image {
        padding-top: 300px;
    }
    
    .red-car,
    .road {
        width: 100%;
        height: auto;
    }
    
    .locator-text p {
        padding-right: 10px;
    }
    
    .about-contact {
        text-align: center;
    }
    
    .footer-logo .logo {
        display: inline;
    }
    
    .know-us p {
        padding-right: 10px;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
    .flex {
        flex-direction: column;
    }
    
    .blue-logo img {
        width: 80%;
    }
    
    section.on-street-parking .animation-wrapper {
        position: relative;
        width: 100%;
    }
    
    section.on-street-parking p {
        max-width: 100%;
        margin-left: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    section.on-street-parking h1 {
        font-size: 30px;
        margin: 0px;
        padding: 10px
    }
    
    .blue,
    .yellow {
        font-size: 20.7px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .yellow {
        padding-top: 25px;
    }
    
    .blue-logo img,
    .video img,
    .parking-locator .map img {
        width: 100%;
        height: auto;
    }
    
    img.blue-logo-image {
        width: 80%;
    }
    
    .mobile-menu {
        width: 100%;
        right: 0px;
    }
    
    .on-street-heading h1,
    .off-street-heading h1,
    .locator-text h1 {
        font-size: 30px;
        text-align: left;
        margin: auto;
    }
    
    .on-street-animation {
        display: block;
    }
    
    .on-street-text p,
    .off-street-heading {
        margin-left: 0px;
    }
    
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .on-street-image {
        padding-top: 300px;
    }
    
    .on-street-text p {
        padding-top: 0px;
    }
    
    .red-car,
    .road {
        width: 100%;
        height: auto;
    }
    
    .parking-locator {
        padding-top: 0px;
    }
    
    .locator-text p {
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
    .locator-text h1,
    .on-street-heading,
    .off-street-heading h1 {
        padding: 15px 0px;
    }
    
    .about-contact {
        text-align: center;
    }
    
    .about-contact .logo {
        padding-top: 30px;
    }
    
    .about-contact h6 {
        padding: 30px 0px;
    }
    
    .footer-logo .logo {
        display: inline;
    }
    
    .know-us p {
        padding-right: 10px;
    }
    
    .contact-form {
        padding: 0px 15px 10px;
    }
    
    .bar {
        width: 15%;
        top: 80px;
        right: 87px
    }
}