@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1,
p {
    color: #263238;
    text-align: justify;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1024px;
}


}
.container {
    max-width: 1024px;
}
.container-extra {}

/*************************** 
    header section start 
****************************/
header {
    max-height: 66px;
    background: #1964aa;
    display: flex;
    position: relative;
}
.flex-container {
    display: flex;
    position: relative;
}
.logo img {
    height: 46px;
    width: 138px;
    padding: 10px;
    box-sizing: content-box;
}
.footer-logo .logo {
    display: flex;
    flex: 2;
    padding-top: 55px;
}
.contact-menu {
    display: flex;
    flex: 10;
    justify-content: flex-end;
    align-items: center;
}
.contact-menu img {
    padding: 18px 16.5px;
}

/*************************** 
    /header section end 
****************************/
.mobile-video {
    /* max-height: 867px; */
    
    background: #fff;
    /* display: flex; */
    
    position: relative;
    /* justify-content: center;
    padding: 30px 0px; */
}
.blue-logo img {
    height: 231px;
    width: 697px;
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
}
.video img {
    height: 100%;
    width: 448px;
}
.blue {
    color: #1964aa;
    font-size: 30.7px;
    line-height: 40px;
    padding-right: 15px;
    letter-spacing: 0px;
}
.yellow {
    color: #e85933;
    font-size: 30.7px;
    line-height: 40px;
    padding: 47px 0px;
}
.width {
    max-width: 1024px;
}

/* start .on-street-parking */
.on-street-parking {
    /* max-height: 545px; */
    
    background: #ebf6ff;
    position: relative;
    /* display: flex; */
}
.on-street-heading {
    font-weight: 70px;
    color: #263238;
    font-weight: 700;
    padding: 28px 0px;
}
.on-street-heading h1 {
    font-size: 70px;
    margin-left: 165px;
}
.on-street-text {
    font-weight: 18px;
}
.on-street-animation {
    display: flex;
    overflow: hidden;
}
.on-street-text {
    display: flex;
    flex: 6;
    flex-direction: column;
    /*! flex-basis: 592px; */
    
    z-index: 2;
}
.on-street-image {
    flex: 6;
    display: flex;
    position: relative;
    right: -100px;
    border: 0px;
}
.on-street-image img {}
.red-car {
    position: absolute;
    bottom: -200px;
    left: -480px;
    width: 231px;
    height: 193px;
    z-index: 1;
    animation: redCarOnStreet 3s ease-in-out 1s forwards;
    /*! animation-timing-function: ease-out; */
    
    z-index: 1;
}
.white-car {
    width: 266px;
    height: 210px;
    position: absolute;
    z-index: 1;
    top: 335px;
    right: 833px;
    animation: whiteCarOnStreet 3s cubic-bezier(.65, .05, .36, 1) forwards;
}
.road {
    width: 782px;
    height: 394px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.on-street-text p {
    margin-left: 165px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* end .on-street-parking */
.off-street-heading {
    /*! display: flex; */
    
    margin-left: 340px;
}
.off-street-parking {
    /*! max-height: 646px; */
    
    background: #fcecdd;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 540px;
}
.off-street-heading h1 {
    font-size: 70px;
    padding-top: 60px;
}
.animation-flex-container {
    display: flex;
    overflow: hidden;
}
.animation {
    flex: 4;
    position: relative;
}
.off-street-text {
    flex: 4;
    margin-right: 150px;
}
.off-street-text p {
    padding: 48px;
}
.orange-car {
    position: relative;
    left: 319px;
    bottom: 105px;
    animation: orangeOffStreet 3s ease-in-out forwards;
}
.park-car {
    position: absolute;
    right: -96px;
    top: 5px;
    z-index: -1;
    animation: offParkCar 3s 2s forwards;
}
.bar {
    position: absolute;
    top: 175px;
    right: 175px;
}
.redis-car {
    position: absolute;
    left: -105px;
    bottom: -60px;
}
.line {
    position: absolute;
    bottom: 13px;
    left: -16px;
}

/* end off street parking */

/* start parking locator */
.parking-locator {
    background: #ebf6ff;
    padding-top: 56px;
    /*! z-index: 3; */
    /*! overflow: hidden; */
}
.parking-locator .map img {
    height: 470px;
}
.locator-text {}
.locator-text h1 {
    font-size: 70px;
    font-weight: 700;
}
.locator-text p {
    font-size: 18px;
    font-weight: 400;
    padding-right: 70px;
}
.about-contact {
    /* max-height: 545px; */
    
    background: #1964aa;
    position: relative;
    /* display: flex; */
    
    color: white;
}
.about-contact h6 {
    font-size: 20px;
    padding: 23px 0px 45px;
}
.about-contact a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 400;
}
.know-us {
    flex: 1;
}
.know-us p {
    /* padding-right: 10px; */
    
    padding-right: 110px;
    font-size: 14px;
    color: white;
    text-align: left;
}
.categories {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.categories a:first-of-type {
    padding-top: 0px;
}
.contact-us {
    flex: 1;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    height: 33px;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    margin-bottom: 23px;
    padding: 10px;
    box-sizing: border-box;
}
button.submit {
    width: 74px;
    height: 32px;
    background: #ededed;
    color: #ec993d;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5%;
    align-self: flex-end;
}
.footer {
    /* max-height: 41px; */
    
    height: 41px;
    background: #1964aa;
    position: relative;
}
.footer-text {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    border-top: 1px solid #4783bb;
}
.light-text {
    font-weight: 300;
    color: #fff;
}

/* animation area */

/* White Car On street keyframes start */
@keyframes whiteCarOnStreet {
    0% {
        transform: translate(0px, 0px);
    }
    
    100% {
        /* position: relative; */
        transform: translate(570px, -161%);
        /*! transform: translate(345px, -20%); */
    }
}

/* White Car On street keyframes END */

/* red-car keyframes START */
@keyframes redCarOnStreet {
    0% {
        transform: translate(0px, 0px);
    }
    
    100% {
        transform: translate(428px, -134%);
    }
}
.mobile-menu {
    width: 30%;
    bottom: -464px;
    z-index: 9998;
    background: grey;
    margin: 0;
    position: absolute;
    right: 0px;
    border: 0;
    display: flex;
    flex-direction: column;
    display: none;
}
.open {
    display: block;
}
ul.main-menu {
    display: flex;
    flex-direction: column;
}
ul.main-menu a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background: #1964aa;
}
@keyframes orangeOffStreet {
    0% {
        transform: translate(0px, 0px);
    }
    
    100% {
        transform: translate(-190px, -120%);
    }
}
img.play-btn {
    position: absolute;
    left: 99px;
    bottom: 2px;
    z-index: 5;
    width: 274px;
    height: 334px;
    display: block;
}
.video {
    position: relative;
}
@keyframes crossBar {
    0% {
        transform: rotate(-) translateX(40%) translateY(-10%);
    }
    
    25% {
        /*! transform: rotate(-60deg) translateX(80%) translateY(-30%) skewX(15deg) skewY(-25deg); */
    }
    
    50% {
        transform: rotate(-80deg) translateX(80%) translateY(-30%) skewX(-20deg) skewY(-35deg);
    }
    
    100% {
        transform: rotate(-) translateX(40%) translateY(-10%);
    }
}
.bar {
    animation: crossBar 5s 0s linear;
}
@keyframes offParkCar {
    0% {
        transform: translate(0%, 0%);
    }
    
    100% {
        transform: translate(-159%, 150%);
    }
}

/* responsive  */

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .blue-logo img {
        height: 130px;
        width: 350px;
    }
    
    .container.flex {
        flex-direction: column;
        width: 90%;
    }
    
    .video img {
        height: 100%;
        width: 100%;
    }
    
    .on-street-heading h1 {
        font-size: 33px;
        text-align: center;
    }
    
    .on-street-heading h1 {
        margin-left: 0;
    }
}